

body{
  background-color: rgb(243,244,246);

}
.container{
  height: auto;
  
}

.error-showing-popup{
  width: auto;
  height: auto;
 background-color: white;
 border: 1px solid rgb(41, 40, 40);
 border-radius: 10px;
 color: red;
 margin-top: 6px;
 padding-top: 5px;
 padding-bottom: 5px;
justify-content: center;
 align-items: center;
 display: flex;

}
.error-showing-pop-up{
  width: auto;
  height: auto;
 background-color: white;
 border: 1px solid rgb(41, 40, 40);
 border-radius: 10px;
 color: red;
 padding: 20px;
 margin-top: 6px;
 padding-top: 5px;
 padding-bottom: 5px;
justify-content: center;
 align-items: center;
 display: flex;
}
.button{
  background-color: rgb(31 41 55);
  margin-top: 20px;
  height:35px;
  width:90px;
  min-width: 90px;
  color:white;
     border-radius: 10px;
     margin-left: 10px;
}

.button:hover{
  background-color:rgb(55 65 81);
}

.buttonlogin{
  color:rgb(55 65 81);
  margin-top: 20px;
  height:35px;
  font-size:.875rem;
     font-weight:500;
  width:300px;
height: auto;
 text-decoration: underline;
     border-radius: 10px;
     margin-left: 20px;
}

.buttonlogin:hover{
  color: rgb(55 65 81);
}

.selectbatch{
           color:grey;
           font-size :.900rem;
           font-weight:500
}
.errorlist{
  color: red;
  padding-top: 10px;
}
.errorlist li{
  margin-left: 50px;
}