

body{
  background-color: rgb(243,244,246);

}
.container{
  height: auto;
  
}


.error-showing-popup{
  width: auto;
  height: auto;
 background-color: white;
 border: 1px solid rgb(41, 40, 40);
 border-radius: 10px;
 color:  rgb(41, 40, 40);
 margin-top: 6px;
 padding-top: 5px;
 padding-bottom: 5px;
justify-content: center;
 align-items: center;
 display: flex;

}
.button{
  background-color: rgb(31 41 55);
  
  height:35px;
  width:90px;
  color:white;
     border-radius: 10px;
}

.button:hover{
  background-color: black;
}