

body{
  background-color: rgb(243,244,246);

}
.container{
  height: 100vh;
  padding-bottom: 10%;
  background-color: rgb(243,244,246);
}
:root{
  background-color: rgb(243,244,246);
}
@import url("https://cdn.syncfusion.com/ej2/material.css");
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";